* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	position: relative;
}
@keyframes slide {
	0% {
		background: url(../img/anh1.jpg);
	}
	25% {
		background: url(../img/anh2.jpg);
	}
	50% {
		background: url(../img/anh3.jpg);
	}
	75% {
		background: url(../img/anh4.jpg);
	}
	100% {
		background: url(../img/anh1.jpg);
	}
}
@keyframes text {
	0% {
		content: "Ảnh_1";
		background: black;
	}
	25% {
		content: "Ảnh_2";
		background: black;
	}
	50% {
		content: "Ảnh_3";
		background: black;
	}
	75% {
		content: "Ảnh_4";
		background: black;
	}
	100% {
		content: "Ảnh_1";
		background: black;
	}
}
span::before {
	content: "";
	text-align: center;
	
	opacity: 0.6;
	padding: 20px;
	border-radius: 10px;
	position: absolute;
	top: 200px;
	left: 50px;
	font-size: 30px;
	color: red;
	animation-name: text;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
}
#all {
	width: 730px;
	height: 300px;
	border-radius: 10px;
	position: relative;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
